body{
     margin: 5px;
     padding: 10px;
     background: url(image/tripura.jpg);
     background-size: cover;
     background-position: center;
     font-family: Trebuchet MS;
     color: white;
     font-size: 20;
}
h2{
     font-family: Trebuchet MS;
     color: white;
     font-size: 48;
    background-image:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(152,0,0,1) 50%, rgba(177,110,0,1) 100%);

}
hr{
   height: 4;
 background-image:linear-gradient(90deg, rgba(0,179,135,1) 0%, rgba(0,255,51,1) 50%, rgba(1,175,132,1) 100%);
}
img{
    border: 5px solid #555;
}
a:link {
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
 a:visited {
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-image:  radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}